 
    <!-- Display success message -->
<% if (success) { %>
    <div class="success-message"  style="color:green"><%= success %></div>
  <% } %>
  
  <!-- Display error message -->
  <% if (error) { %>
    <div class="error-message" style="color:red"><%= error %></div>
  <% } %>

  <script>
    // Get the success and error message elements
const successMessage = document.querySelector('.success-message');
const errorMessage = document.querySelector('.error-message');

// Remove the success message after 5 seconds
if (successMessage) {
  setTimeout(() => {
    successMessage.remove();
  }, 5000);
}

// Remove the error message after 5 seconds
if (errorMessage) {
  setTimeout(() => {
    errorMessage.remove();
  }, 5000);
}

  </script>
  