<ul style="list-style: none; display: flex; justify-content: space-between; background-color: #333; color: #fff; padding: 10px;">
     <li><a href="/" style="text-decoration: none; color: #fff;">Home</a></li>
     <li><a href="/posts" style="text-decoration: none; color: #fff;">Posts</a></li>
     <li><a href="/posts/new" style="text-decoration: none; color: #fff;">New Post</a></li>
   </ul>
   