<% layout('layouts/boilerplate') -%>

<h1>Here you can reset your password</h1>

<form action="/forgot-pw?_method=PUT" method="post">
    <div class="form-group">
        <label for="password">new password</label>
        <input type="text"  name="password" id="password" required>
        <button type="submit">Reset</button>
    </div>
</form> 