<% layout('layouts/boilerplate') -%>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
 <header class="main-header">
    
    <div class="header-content">
        <h1>Welcome to Surf Shop</h1>
        <p>We offer the best products and services in the market. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi illo porro necessitatibus, labore quia magni dignissimos et repellat quas commodi illum numquam culpa consequatur ipsam dolorum non vero quaerat aliquid!
        Et provident odit neque quos cupiditate? Possimus totam voluptatem eveniet minima quis, cupiditate laboriosam quo recusandae quas corporis libero veritatis aperiam nisi ipsam quisquam rem aliquid nulla assumenda fugit dolor.
        Deserunt.</p>
        <a href="/posts" class="cta-btn">See Products</a>
     </div>
</header>
  
