body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fa-star,
.fa-star-half-alt {
  color: gold;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.required {
  color: red;
}